<div>
    {{#each languages}}
    <ul>
        <li>
            <b>{{name}}</b>
            <p><i>Version: {{version}}</i></p>
            <p>Description: {{description}}</p>
            <p>{{> languages/about}}</p>
        </li>
    </ul>
    {{/each}}
</div>