<div>

    <div>
        <h1>{{name}}</h1>
    </div>

    <p>{{description}}</p>

    <br>

    {{#with history}}
    <p>Appeared: {{year}}</p>
    <p>Founder: {{founder}}</p>
    {{/with}}

    <br>



    <div>
    </div>



</div>