<div>
    {{#with program}}

    {{#with excursion}}
    <div>
        <h1>{{name}}</h1>
    </div>

    <div class="py-3">{{date}}</div>



    {{> location}}




    {{> programs}}


    {{/with}}


    {{/with}}
</div>