<div>
    {{#with program}}

    {{#with excursion}}
    <div>
        <h1>{{name}}</h1>
    </div>

    <div>{{date}}</div>

    <br>

    {{> location}}

    <br>


    {{> programs}}


    {{/with}}

    <br>
    {{/with}}
</div>