<div>
    {{#with guide}}

    <div class="py-1"><b>Guide: </b>{{name}}</div>



    <div class="py-2">Language: {{language}}</div>



    <div class="pt-1 mb-3">Rating: {{rating}}</div>

    {{/with}}
</div>