<div>
    <ul>
        <li>id: {{id}} </li>
        <li>name: {{name}} </li>

        {{#if gender}}
        <li>gender: {{gender}} </li>
        {{/if}}

        {{#if age}}
        <li>age: {{age}} </li>
        {{/if}}
    </ul>
</div>